.body-logo-head {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-right: 90px;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    color: var(--accent-color);
  }
  
  .body-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    color: var(--accent-color);
  }
  .second-body-logo {
    font-size: 26px;
    line-height: 1.19;
    color: var(--second-logo-color);
  }
  .third-body-logo {
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
  }
  .addres-logo {
    margin-bottom: 20px;
  }